.container {
  cursor: pointer;
  background-color: #df30303b;
  border-radius: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 2px dotted #DF3030; 

  div {
    height: 120px;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

}