.container {
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;

    li {
      margin: 0 0.4rem;

      button {
        background: var(--red);
        color: #F9F9F9;
        border: 1px solid var(--red);
        padding: 0.5rem 0.7rem;
        border-radius: 7px;
        font-weight: 600;
        transition: background 0.2s;

        &:hover {
          background: #F9F9F9;
          color: var(--red);
        }
      }

      .currentPage {
        background: #F9F9F9;
        color: var(--red);
      }
    }
  }
}