.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid var(--line);

  div {

    h2 {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      strong {
        padding: 0.2rem 0.6rem;
        font-size: 1rem;
        background: var(--red);
        color: var(--text-white);
        border-radius: 12px;
        margin-left: 10px;
      }
    }
  }
  a {
    padding: 0.7rem;
    background: var(--red);
    color: var(--text-white);
    font-weight: bold;
    border-radius: 7px;
  }
}