.container {
  background: var(--manager-background);
  padding: 2rem 0;
  min-height: 100vh;

  .containerList {
    background: var(--background);
    width: 992px;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(189, 189, 189, 0.4);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 2rem;
      border-bottom: 1px solid var(--line);
    
      div {
    
        h2 {
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;
    
          strong {
            padding: 0.2rem 0.6rem;
            font-size: 1rem;
            background: var(--red);
            color: var(--text-white);
            border-radius: 12px;
            margin-left: 10px;
          }
        }
      }
      a {
        padding: 0.7rem;
        background: var(--red);
        color: var(--text-white);
        font-weight: bold;
        border-radius: 7px;
      }
    }

    main {
      margin-top: 1rem;

      .listHeader {
        display: flex;
        height: 40px;
        align-items: center;

        div > span {
          font-size: 0.9rem;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.4);
        }
      }

      .listBody {
        .line {
          display: flex;
          align-items: center;
        
          height: 60px;
          background-color: var(--white);

          &:hover {
            background-color: rgba(238, 238, 238, 0.4);
          }

          .status {
            button {
              padding: 0.5rem 0.7rem;
              height: 2.3rem;
              border: none;
              font-weight: bold;
              border-radius: 7px;
              flex: 1;
              color: var(--white);
              transition: background 0.2s;
            }

            .active {
              background: #00BF63;
            
              &:hover {
                background: #00bf63c4;
              }
            }

            .inactive {
              background: #949191;
            
              &:hover {
                background: #949191ab;
              }
            }
          }

          
          .actions {
            display: flex;
            justify-content: flex-end;

            span {
              cursor: pointer;
              padding: 0.4rem;

              svg {
                transition: color 0.2s;
              }
              &:hover {
                svg {
                  color: var(--red);
                }
              }
            }
          }
        }
      }
    }

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
    }
  }
}

/* Distribuição dos itens */

.title {
  flex: 0 0 150px;
}

.description {
  flex: 0 0 220px;
}

.rating {
  flex: 0 0 120px;
  text-align: center;

}

.status {
  text-align: center;
}

.actions {
  text-align: center;
  flex: 1;
}

