.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  position: relative;
  margin-bottom: 100px;

  .banner {
    background: url("/assets/images/gtr-hero.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: -25px;
  }
}

.container {
  width: 992px;
  margin: 0 auto;

  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 40px;
  }
}