.containerSearchBar {
  border: 1px solid var(--line);
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    border: 0;
    flex: 1;
    background: transparent;
  }

  svg {
    margin-right: 16px;
  }
}
