.card {
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0, 0, 0.25);

  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  @media screen and(min-width: 721px) {
    grid-column: span 4;
  }

  @media screen and(max-width: 720px) {
    grid-column: span 12;
  }

  .showcase {
    margin: 1rem;
    img {
      width: 100%;
    }
  }

  .context {
    margin: 2rem;

    div {
      display: flex; 
      justify-content: space-between;
      align-items: baseline;
    }

    .header {
      span {
        color: var(--text-highlight);
        font-weight: 300;
      }

      h2 {
        color: var(--black);
        font-size: 1rem;
      }
    }
    
    .footer {
      span {
        strong {
          color: var(--text-highlight);
          font-size: 1rem;
        }
        font-size: 0.6rem;
      }
      
      h2 {
        text-transform: uppercase;
        color: var(--red);
        font-size: 1rem;
      }
    }
  }
}